@model MvcProje.Models.tbl_project
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner-banner has-base-color-overlay text-center" style="background: url(@Model.ProjectImg);">
    <div class="container">
        <div class="box">
            <h3>Proje Detayı</h3>
        </div>
    </div>
</div>
<div class="breadcumb-wrapper">
    <div class="container">
        <div class="pull-left">
            <ul class="list-inline link-list">
                <li>
                    <a href="@Url.Action("","")">Anasayfa</a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Project")">Projeler</a>
                </li>
                <li>
                    Proje Detayı
                </li>
            </ul>
        </div>
    </div>
</div>
<section class="service-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12" id="softwareDiv">
                <div class="outer-box">
                    <div class="text">
                        @Html.Raw(Model.ProjectContent)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="@Url.Content("~/Content/Site/js/jquery.js")"></script>



